*.egg-info
.micromamba
*.pyc

*nbs/benchmark_run_results
*nbs/model_checkpoints
*nbs/wandb

*benchmark_runs/benchmark_run_results
*benchmark_runs/model_checkpoints
*benchmark_runs/wandb

*slurm_jobs/benchmark_run_results
*slurm_jobs/model_checkpoints
*slurm_jobs/wandb

# Datasets and Models
Sponges/
Sponges_18167/
Sponges_18167_sp10_strat/
model_checkpoints/
work_dir/
eval_results_b2/
coralscapes/
*.zip
*.7z
*.tar
*.gz
*.png
*.jpg
*.jpeg

# Python/PyTorch
__pycache__/
*.pyc
*.pt
*.pth
.DS_Store
